In [1]:
from reports.reports import *

In [2]:
tempo_report = TempoReport()
jira_report = JiraReports()
merge_report = JiraTempoReport()

1ere étape {'User-Agent': 'python-requests/2.31.0', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive', 'Authorization': 'Bearer O8Is_WcC9Njth_4zeb8gD0dro2GeI77Dele4VsrUmTo-us'}
1ere étape {'User-Agent': 'python-requests/2.31.0', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive', 'Authorization': 'Bearer O8Is_WcC9Njth_4zeb8gD0dro2GeI77Dele4VsrUmTo-us'}

In [3]:
start_date = '2024-04-22'
end_date = '2024-04-27'

In [6]:
test_merge_report = merge_report.get_merged_report(start_date, end_date, 'Benoit Leboucher', "csv/benoit-22-04-2024.csv")
test_merge_report

Le fichier CSV a été créé avec succès à l'emplacement : csv/benoit-22-04-2024.csv

,Issue Key,Total Time Spent,Estimated Time,Period's Logged Time,Period's Leaked Time,Total Leaked Time
0,VSP13526-1,2.000000,2.00,0.25,0.000000,0.00
1,SOUTIEN-11486,0.750000,1.00,0.67,0.000000,0.00
2,SOUTIEN-11485,0.500000,1.00,0.50,0.000000,0.00
3,SOUTIEN-11484,0.500000,0.50,0.50,0.000000,0.00
4,SOUTIEN-11481,0.500000,0.50,0.25,0.000000,0.00
5,SOUTIEN-11480,0.750000,1.00,0.75,0.000000,0.00
6,SOUTIEN-11479,1.000000,1.00,1.00,0.000000,0.00
7,SOUTIEN-11477,1.000000,0.75,0.75,0.250000,0.25
8,SOUTIEN-11475,0.833333,1.00,0.75,0.000000,0.00
9,SOUTIEN-11472,1.500000,1.00,1.26,0.500000,0.50
10,SOUTIEN-11471,0.916667,1.00,0.84,0.000000,0.00
11,SOUTIEN-11469,0.500000,2.00,0.50,0.000000,0.00
12,SOUTIEN-11467,1.000000,0.50,0.50,0.500000,0.50
13,SOUTIEN-11465,1.000000,1.00,0.83,0.000000,0.00
14,SOUTIEN-11464,1.000000,1.00,0.83,0.000000,0.00
15,SOUTIEN-11461,1.000000,1.00,0.83,0.000000,0.00
16,SOUTIEN-11454,1.000000,1.00,0.83,0.000000,0.00
17,SOUTIEN-11452,1.000000,3.00,0.50,0.000000,0.00
18,SOUTIEN-11440,1.166667,1.00,0.17,0.166667,0.17
19,SOUTIEN-11439,1.000000,2.00,NaN,0.000000,0.00
20,SOUTIEN-11437,3.000000,3.00,1.00,0.000000,0.00
21,SOUTIEN-11436,2.000000,1.00,NaN,1.000000,1.00
22,SOUTIEN-11433,2.000000,1.00,NaN,1.000000,1.00
23,SOUTIEN-11430,1.500000,1.00,NaN,0.500000,0.50
24,SOUTIEN-11428,1.000000,1.00,0.17,0.000000,0.00
25,SOUTIEN-11406,1.750000,1.50,0.34,0.250000,0.25
26,SOUTIEN-11141,5.083333,5.00,0.25,0.083333,0.08
27,SOUTIEN-11100,2.333333,2.50,0.50,0.000000,0.00
28,MJM13656-5,1.500000,2.00,0.50,0.000000,0.00
29,CSN13149-11,4.500000,10.50,0.50,0.000000,0.00
30,ADM13161-4,0.500000,1.00,NaN,0.000000,0.00
31,ADM13161-3,1.666667,3.00,1.00,0.000000,0.00
32,ADM13161-2,4.000000,2.00,2.75,2.000000,2.00
33,ACT11304-3,77.666667,0.00,10.50,10.500000,77.67
34,SOUTIEN-11468,NaN,NaN,0.50,NaN,0.00
35,SOUTIEN-11470,NaN,NaN,0.50,NaN,0.00
36,SOUTIEN-11473,NaN,NaN,0.50,NaN,0.00
37,SOUTIEN-11474,NaN,NaN,0.25,NaN,0.00
38,SOUTIEN-11476,NaN,NaN,0.50,NaN,0.00
39,SOUTIEN-11478,NaN,NaN,0.50,NaN,0.00
40,SOUTIEN-11482,NaN,NaN,0.50,NaN,0.00
41,SOUTIEN-11488,NaN,NaN,0.50,NaN,0.00

In [7]:
sonia_report = merge_report.get_merged_report(start_date, end_date, 'Sonia Marquette', "csv/sonia-22-04-2024.csv")
sonia_report

Le fichier CSV a été créé avec succès à l'emplacement : csv/sonia-22-04-2024.csv

,Issue Key,Total Time Spent,Estimated Time,Period's Logged Time,Period's Leaked Time,Total Leaked Time
0,SOUTIEN-11488,1.000000,2.00,0.50,0.00,0.00
1,SOUTIEN-11482,1.000000,1.00,0.50,0.00,0.00
2,SOUTIEN-11478,1.333333,2.00,0.83,0.00,0.00
3,SOUTIEN-11476,1.000000,1.00,0.50,0.00,0.00
4,SOUTIEN-11474,1.250000,2.00,1.00,0.00,0.00
5,SOUTIEN-11473,1.500000,2.00,1.00,0.00,0.00
6,SOUTIEN-11470,1.750000,2.00,1.25,0.00,0.00
7,SOUTIEN-11443,2.000000,2.00,0.75,0.00,0.00
8,SOUTIEN-11442,1.250000,2.00,0.75,0.00,0.00
9,SOUTIEN-11435,1.500000,2.00,0.75,0.00,0.00
10,SOUTIEN-11434,2.000000,2.00,NaN,0.00,0.00
11,SOUTIEN-11432,4.750000,2.00,2.00,2.00,2.75
12,SOUTIEN-11416,1.000000,2.00,NaN,0.00,0.00
13,SOUTIEN-11411,1.750000,3.00,0.08,0.00,0.00
14,SOUTIEN-11402,2.500000,2.25,NaN,0.25,0.25
15,SOUTIEN-11382,2.000000,1.50,NaN,0.50,0.50
16,SOUTIEN-11269,5.000000,5.00,NaN,0.00,0.00
17,SOUTIEN-10202,7.000000,10.00,0.25,0.00,0.00
18,CDM12649-11,54.000000,68.00,5.25,0.00,0.00
19,CDC12758-51,9.750000,9.00,2.00,0.75,0.75
20,CDC12758-47,4.000000,5.00,2.00,0.00,0.00
21,CDC12758-14,5.750000,5.00,1.75,0.75,0.75
22,BRW13154-3,2.000000,3.00,0.25,0.00,0.00
23,ACT11304-5,97.250000,0.00,3.25,3.25,97.25
24,PDS13503-1,NaN,NaN,1.75,NaN,0.00
25,SOUTIEN-11428,NaN,NaN,0.08,NaN,0.00
26,SOUTIEN-11100,NaN,NaN,0.32,NaN,0.00
27,SOUTIEN-11436,NaN,NaN,0.25,NaN,0.00
28,CGU12657-135,NaN,NaN,1.25,NaN,0.00
29,SOUTIEN-11440,NaN,NaN,0.25,NaN,0.00
30,SOUTIEN-11406,NaN,NaN,0.08,NaN,0.00
31,CSR12918-1,NaN,NaN,0.25,NaN,0.00
32,SOUTIEN-11430,NaN,NaN,0.50,NaN,0.00
33,CSN13149-11,NaN,NaN,0.25,NaN,0.00
34,PDS13502-2,NaN,NaN,0.25,NaN,0.00
35,SOUTIEN-11475,NaN,NaN,0.08,NaN,0.00
36,SOUTIEN-11471,NaN,NaN,0.08,NaN,0.00
37,SOUTIEN-11472,NaN,NaN,0.24,NaN,0.00
38,ADM13161-3,NaN,NaN,0.17,NaN,0.00
39,AAO13097-24,NaN,NaN,0.75,NaN,0.00
40,CDC12758-54,NaN,NaN,0.25,NaN,0.00
41,SOUTIEN-11486,NaN,NaN,0.08,NaN,0.00
42,MAT13045-62,NaN,NaN,0.25,NaN,0.00

In [8]:
claire_report = merge_report.get_merged_report(start_date, end_date, 'Claire Conrardy', "csv/claire-22-04-2024.csv")
claire_report

Le fichier CSV a été créé avec succès à l'emplacement : csv/claire-22-04-2024.csv

,Issue Key,Total Time Spent,Estimated Time,Period's Logged Time,Period's Leaked Time,Total Leaked Time
0,TEL12919-30,0.500000,0.500000,0.50,0.000000,0.00
1,TEL12919-9,16.416667,12.000000,6.75,4.416667,4.42
2,SOUTIEN-11468,2.750000,4.000000,2.25,0.000000,0.00
3,SOUTIEN-11408,6.000000,6.000000,1.75,0.000000,0.00
4,CSN13149-8,0.750000,10.000000,0.25,0.000000,0.00
5,CGU12657-135,10.500000,0.000000,2.00,2.000000,10.50
6,CDC12758-54,9.000000,2.666667,8.75,6.333333,6.33
7,CDC12758-53,9.000000,9.000000,3.50,0.000000,0.00
8,ACT11304-14,49.916667,0.000000,3.00,3.000000,49.92
9,AAO13097-24,3.500000,3.000000,2.75,0.500000,0.50
10,SOUTIEN-11437,NaN,NaN,0.75,NaN,0.00
11,SOUTIEN-11433,NaN,NaN,1.50,NaN,0.00
12,BRW12531-93,NaN,NaN,0.25,NaN,0.00
13,CGU12657-99,NaN,NaN,1.00,NaN,0.00
14,BRW12531-96,NaN,NaN,2.50,NaN,0.00

In [9]:
julien_report = merge_report.get_merged_report(start_date, end_date, 'Julien Le Mée', "csv/julien-22-04-2024.csv")
julien_report

Le fichier CSV a été créé avec succès à l'emplacement : csv/julien-22-04-2024.csv

,Issue Key,Total Time Spent,Estimated Time,Period's Logged Time,Period's Leaked Time,Total Leaked Time
0,MAT13045-62,5.916667,10.0,5.67,0.00,0.00
1,BRW12531-96,2.500000,15.0,NaN,0.00,0.00
2,ACT11304-9,84.166667,0.0,1.33,1.33,84.17
3,ADM13161-4,NaN,NaN,0.50,NaN,0.00

In [9]:
idriss_report = merge_report.get_merged_report(start_date, end_date, 'Idriss Alami', "csv/idriss-15-04-2024.csv")
idriss_report

Le fichier CSV a été créé avec succès à l'emplacement : csv/idriss-15-04-2024.csv

,Issue Key,Total Time Spent,Estimated Time,Period's Logged Time,Period's Leaked Time,Total Leaked Time
0,SEH11553-4,5.000000,5.00,0.25,0.000000,0.00
1,SEH11553-1,61.416667,60.00,2.58,1.416667,1.42
2,SEH11533-1,6.500000,38.00,0.75,0.000000,0.00
3,SEH11095-1,25.666667,45.00,3.00,0.000000,0.00
4,RIC12948-38,2.250000,2.00,0.25,0.250000,0.25
5,MLS13144-1,35.416667,35.00,1.83,0.416667,0.42
6,MAT13045-15,75.500000,77.00,4.50,0.000000,0.00
7,JMJ13048-1,38.500000,35.90,1.25,1.250000,2.60
8,CSR12918-1,26.524167,42.75,3.50,0.000000,0.00
9,CMC13563-1,8.250000,15.00,1.00,0.000000,0.00
10,CIP12847-54,8.833333,8.00,0.25,0.250000,0.83
11,CDC12758-8,41.333333,50.75,4.66,0.000000,0.00
12,BRW12531-93,21.333333,32.00,4.50,0.000000,0.00
13,ACT11304-10,64.000000,0.00,2.75,2.750000,64.00
14,AAO13097-1,32.583333,37.60,1.75,0.000000,0.00
15,CDM12649-28,NaN,NaN,2.25,NaN,0.00
16,SEH11553-18,NaN,NaN,1.00,NaN,0.00
17,SOUTIEN-11408,NaN,NaN,1.50,NaN,0.00

In [10]:
Laurence_report = merge_report.get_merged_report(start_date, end_date, 'Laurence Cauchon', "csv/Laurence-22-04-2024.csv")
Laurence_report

Le fichier CSV a été créé avec succès à l'emplacement : csv/Laurence-22-04-2024.csv

,Issue Key,Total Time Spent,Estimated Time,Period's Logged Time,Period's Leaked Time,Total Leaked Time
0,TEL12919-6,36.000000,36.000000,0.50,0.00,0.00
1,SEH11553-17,2.000000,2.000000,2.00,0.00,0.00
2,SEH11553-16,1.000000,1.000000,1.00,0.00,0.00
3,SEH11095-5,20.000000,20.000000,4.92,0.00,0.00
4,MJM13656-1,1.000000,1.000000,1.00,0.00,0.00
5,CSR12918-1,29.524167,42.750000,0.75,0.00,0.00
6,CDC12758-22,5.333333,5.333333,2.17,0.00,0.00
7,CDC12758-21,9.000000,9.000000,2.66,0.00,0.00
8,ACT11304-2,57.433333,0.000000,2.58,2.58,57.43
9,AAO13097-26,9.250000,10.000000,9.25,0.00,0.00
10,TEL12919-9,NaN,NaN,6.42,NaN,0.00
11,CDC12758-8,NaN,NaN,0.25,NaN,0.00
12,AAO13097-12,NaN,NaN,2.00,NaN,0.00
13,SOUTIEN-11481,NaN,NaN,0.25,NaN,0.00
14,SEH11095-6,NaN,NaN,1.75,NaN,0.00

In [11]:
eric_report = merge_report.get_merged_report(start_date, end_date, 'Eric Ferole', "csv/eric-22-04-2024.csv")
eric_report

Le fichier CSV a été créé avec succès à l'emplacement : csv/eric-22-04-2024.csv

,Issue Key,Total Time Spent,Estimated Time,Period's Logged Time,Period's Leaked Time,Total Leaked Time
0,SOUTIEN-11360,2.0,2.0,1.0,0.0,0
1,SEH11095-10,1.0,3.0,1.0,0.0,0
2,AAO13097-13,NaN,NaN,0.5,NaN,0
3,AAO13097-1,NaN,NaN,1.0,NaN,0
4,AAO13097-22,NaN,NaN,2.0,NaN,0

In [28]:
plts = test_merge_report['Period\'s Leaked Time'].sum()
plts

20.25

In [29]:
plogts = test_merge_report['Period\'s Logged Time'].sum()
plogts

30.0

In [20]:
department_availability = jira_report.get_department_availlability()

269.0