In [1]:
import sys
from pathlib import Path
from datetime import datetime
import pandas as pd

In [2]:
project_root = Path.cwd().parent  # Ajustez ceci si nécessaire
sys.path.append(str(project_root))

from reports.combined_reports import JiraTempoReport

In [3]:
def get_date_range():
    end_date = datetime.now().date()
    start_date = datetime(end_date.year, 8, 1).date()
    if end_date < start_date:
        start_date = start_date.replace(year=start_date.year - 1)
    return start_date, end_date

start_date, end_date = get_date_range()
print(f"Plage de dates : du {start_date} au {end_date}")

Plage de dates : du 2024-08-01 au 2024-10-14

In [4]:
jira_tempo_report = JiraTempoReport()
weekly_billable_hours = jira_tempo_report.calculate_weekly_billable_hours(start_date.isoformat(), end_date.isoformat())

print(f"Type de weekly_billable_hours : {type(weekly_billable_hours)}")
print(f"Nombre de lignes : {len(weekly_billable_hours)}")
print(f"Colonnes : {weekly_billable_hours.columns}")

Warning: Empty data for user Benoit Leboucher in the specified date range.
Warning: Empty data for user Benoit Leboucher in the specified date range.
Warning: Empty data for user Thierry Tanguay in the specified date range.
Warning: Empty data for user Thierry Tanguay in the specified date range.
Warning: Empty data for user Benoit Leboucher in the specified date range.
Warning: Empty data for user Benoit Leboucher in the specified date range.
Warning: Empty data for user Thierry Tanguay in the specified date range.
Warning: Empty data for user Thierry Tanguay in the specified date range.
Warning: Empty data for user Benoit Leboucher in the specified date range.
Warning: Empty data for user Benoit Leboucher in the specified date range.
Warning: Empty data for user Sonia Marquette in the specified date range.
Warning: Empty data for user Sonia Marquette in the specified date range.
Warning: Empty data for user Benoit Leboucher in the specified date range.
Warning: Empty data for user Benoit Leboucher in the specified date range.
Warning: Empty data for user Benoit Leboucher in the specified date range.
Warning: Empty data for user Benoit Leboucher in the specified date range.
Warning: Empty data for user Thierry Tanguay in the specified date range.
Warning: Empty data for user Thierry Tanguay in the specified date range.
Type de weekly_billable_hours : <class 'pandas.core.frame.DataFrame'>
Nombre de lignes : 88
Colonnes : Index(['user', 'week_start', 'billable_hours'], dtype='object')

In [5]:
# Affichez les premières lignes
print(weekly_billable_hours.head())

               user week_start  billable_hours
0   Sonia Marquette 2024-08-01           21.01
1   Claire Conrardy 2024-08-01           26.00
2  Benoit Leboucher 2024-08-01            0.00
3       Eric Ferole 2024-08-01           20.50
4  Laurence Cauchon 2024-08-01           34.23

In [6]:
print(weekly_billable_hours.isnull().sum())

user              0
week_start        0
billable_hours    0
dtype: int64

In [7]:
print(weekly_billable_hours.describe())

                week_start  billable_hours
count                   88       88.000000
mean   2024-09-05 00:00:00       17.709773
min    2024-08-01 00:00:00        0.000000
25%    2024-08-15 00:00:00        5.687500
50%    2024-09-05 00:00:00       20.755000
75%    2024-09-26 00:00:00       29.835000
max    2024-10-10 00:00:00       36.500000
std                    NaN       12.401875

In [8]:
print(weekly_billable_hours['user'].unique())

['Sonia Marquette' 'Claire Conrardy' 'Benoit Leboucher' 'Eric Ferole'
 'Laurence Cauchon' 'Julien Le Mée' 'David Chabot' 'Thierry Tanguay']

In [9]:
print(weekly_billable_hours['week_start'].unique())

<DatetimeArray>
['2024-08-01 00:00:00', '2024-08-08 00:00:00', '2024-08-15 00:00:00',
 '2024-08-22 00:00:00', '2024-08-29 00:00:00', '2024-09-05 00:00:00',
 '2024-09-12 00:00:00', '2024-09-19 00:00:00', '2024-09-26 00:00:00',
 '2024-10-03 00:00:00', '2024-10-10 00:00:00']
Length: 11, dtype: datetime64[ns]

In [10]:
print(weekly_billable_hours.groupby('user')['billable_hours'].sum())

user
Benoit Leboucher    133.16
Claire Conrardy     296.69
David Chabot         73.34
Eric Ferole         192.75
Julien Le Mée       320.00
Laurence Cauchon    325.77
Sonia Marquette     190.15
Thierry Tanguay      26.60
Name: billable_hours, dtype: float64

In [12]:
print(weekly_billable_hours)

                user week_start  billable_hours
0    Sonia Marquette 2024-08-01           21.01
1    Claire Conrardy 2024-08-01           26.00
2   Benoit Leboucher 2024-08-01            0.00
3        Eric Ferole 2024-08-01           20.50
4   Laurence Cauchon 2024-08-01           34.23
..               ...        ...             ...
83       Eric Ferole 2024-10-10           11.00
84  Laurence Cauchon 2024-10-10           11.25
85     Julien Le Mée 2024-10-10           11.25
86      David Chabot 2024-10-10            1.50
87   Thierry Tanguay 2024-10-10            0.00

[88 rows x 3 columns]

In [13]:
# Affichez les premières lignes
print(weekly_billable_hours.head())

               user week_start  billable_hours
0   Sonia Marquette 2024-08-01           21.01
1   Claire Conrardy 2024-08-01           26.00
2  Benoit Leboucher 2024-08-01            0.00
3       Eric Ferole 2024-08-01           20.50
4  Laurence Cauchon 2024-08-01           34.23

In [14]:
# Affichez les utilisateurs uniques et le nombre de semaines pour chacun
user_weeks = weekly_billable_hours.groupby('user').size().sort_values(ascending=False)
print("\nNombre de semaines par utilisateur:")
print(user_weeks)

Nombre de semaines par utilisateur:
user
Benoit Leboucher    11
Claire Conrardy     11
David Chabot        11
Eric Ferole         11
Julien Le Mée       11
Laurence Cauchon    11
Sonia Marquette     11
Thierry Tanguay     11
dtype: int64

In [15]:
# Affichez la plage de dates couverte
print("\nPlage de dates:")
print(f"Début: {weekly_billable_hours['week_start'].min()}")
print(f"Fin: {weekly_billable_hours['week_start'].max()}")

Plage de dates:
Début: 2024-08-01 00:00:00
Fin: 2024-10-10 00:00:00

In [16]:
# Vérifiez s'il y a des valeurs nulles ou zéro
print("\nNombre de valeurs nulles ou zéro:")
print(weekly_billable_hours[weekly_billable_hours['billable_hours'].isin([0, None])].groupby('user').size())

Nombre de valeurs nulles ou zéro:
user
Benoit Leboucher    5
Sonia Marquette     1
Thierry Tanguay     3
dtype: int64

In [17]:
# Affichez les statistiques de base pour les heures facturables
print("\nStatistiques des heures facturables:")
print(weekly_billable_hours['billable_hours'].describe())

Statistiques des heures facturables:
count    88.000000
mean     17.709773
std      12.401875
min       0.000000
25%       5.687500
50%      20.755000
75%      29.835000
max      36.500000
Name: billable_hours, dtype: float64

In [18]:
# Obtenir la liste complète des utilisateurs
all_users = jira_tempo_report.jira_report.get_current_users()

# Créer un DataFrame avec toutes les combinaisons possibles d'utilisateurs et de semaines
all_weeks = pd.date_range(start=weekly_billable_hours['week_start'].min(),
                          end=weekly_billable_hours['week_start'].max(),
                          freq='W-MON')
full_index = pd.MultiIndex.from_product([all_users, all_weeks],
                                        names=['user', 'week_start'])

# Réindexer le DataFrame avec l'index complet et remplir les valeurs manquantes avec 0
complete_weekly_billable_hours = weekly_billable_hours.set_index(['user', 'week_start'])\
    .reindex(full_index, fill_value=0)\
    .reset_index()

In [19]:
print("Nombre de lignes après avoir comblé les données manquantes:")
print(len(complete_weekly_billable_hours))

Nombre de lignes après avoir comblé les données manquantes:
80

In [20]:
print("\nNombre de semaines par utilisateur après avoir comblé les données manquantes:")
print(complete_weekly_billable_hours.groupby('user').size())

Nombre de semaines par utilisateur après avoir comblé les données manquantes:
user
Benoit Leboucher    10
Claire Conrardy     10
David Chabot        10
Eric Ferole         10
Julien Le Mée       10
Laurence Cauchon    10
Sonia Marquette     10
Thierry Tanguay     10
dtype: int64

In [21]:
print("\nStatistiques des heures facturables après avoir comblé les données manquantes:")
print(complete_weekly_billable_hours['billable_hours'].describe())

Statistiques des heures facturables après avoir comblé les données manquantes:
count    80.0
mean      0.0
std       0.0
min       0.0
25%       0.0
50%       0.0
75%       0.0
max       0.0
Name: billable_hours, dtype: float64

In [22]:
# Assurez-vous que toutes les colonnes nécessaires sont présentes
weekly_billable_hours['non_billable_hours'] = 0  # Ajoutez cette colonne si elle n'existe pas
weekly_billable_hours['total_hours'] = weekly_billable_hours['billable_hours']  # Supposons que total_hours = billable_hours

# Convertissez la colonne 'week_start' en datetime si ce n'est pas déjà fait
weekly_billable_hours['week_start'] = pd.to_datetime(weekly_billable_hours['week_start'])

# Affichez les premières lignes pour vérification
print(weekly_billable_hours.head())

               user week_start  billable_hours  non_billable_hours  \
0   Sonia Marquette 2024-08-01           21.01                   0
1   Claire Conrardy 2024-08-01           26.00                   0
2  Benoit Leboucher 2024-08-01            0.00                   0
3       Eric Ferole 2024-08-01           20.50                   0
4  Laurence Cauchon 2024-08-01           34.23                   0

   total_hours
0        21.01
1        26.00
2         0.00
3        20.50
4        34.23

In [23]:
# Vérifiez les types de données
print(weekly_billable_hours.dtypes)

user                          object
week_start            datetime64[ns]
billable_hours               float64
non_billable_hours             int64
total_hours                  float64
dtype: object